body {
	
	background-color:#6495ED;
}
.bloco	{
	border:1px solid orange;
	padding: 10px;
	margin: 10px;
	width: 200px;
}
.online	{
	background-color:green;
	color:white;
}

.offline	{
	background-color:red;
	color:white;
}